In [2]:
# Data ====> Input(X) , Target (y) 

# Input(x) ===> x_train , x_test 

# Target(y) ===> y_train , y_test

In [3]:
# ML WorkFlow ===> 

# Data Gathering ===> Data Cleaning and Preprocessing ====> ML Models(x_train,y_train) 
# ===> Performance Evaluation (x_test) ===> Accuracy(y_test , y_pred)

In [4]:
import numpy as np 
import pandas as pd

In [5]:
df  = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\placement.csv")

In [6]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [7]:
x = df.drop(columns = ['placed'] , axis = 1)  ## Input columns 
y = df['placed']  ## Target column

In [11]:
# (100 , 2) + (100 , 1) = (100,3)

In [ ]:
!pip install scikit-learn

In [12]:
from sklearn.model_selection import train_test_split

In [16]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.3 , random_state = 30)

In [17]:
print("Total Data Shape :" , df.shape)
print("Independet Data Shape(x) :" , x.shape)
print("x_train Data Shape(x_train) :" , x_train.shape)
print("x_test Data Shape(x_test) :" , x_test.shape)
print("Dependent Data Shape(y) :" , y.shape)
print("y_train Data Shape(y_train) :" , y_train.shape)
print("y_test Data Shape(y_test) :" , y_test.shape)

Total Data Shape : (100, 3)
Independet Data Shape(x) : (100, 2)
x_train Data Shape(x_train) : (70, 2)
x_test Data Shape(x_test) : (30, 2)
Dependent Data Shape(y) : (100,)
y_train Data Shape(y_train) : (70,)
y_test Data Shape(y_test) : (30,)

In [18]:
# df(100,3) = x(100,2) + y(100,1) 
# x(100,2) = x_train(70,2) + x_test(30,2) 
# y(100,1) = y_train(70,1) + y_test(30,1)

In [20]:
df  = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\tips.csv")

In [21]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [24]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [25]:
x = df.drop(columns = ['total_bill'] , axis = 1)
y = df['total_bill']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size  = 0.2 , random_state = 42)

In [28]:
print("Total Data Shape :" , df.shape)
print("Independet Data Shape(x) :" , x.shape)
print("x_train Data Shape(x_train) :" , x_train.shape)
print("x_test Data Shape(x_test) :" , x_test.shape)
print("Dependent Data Shape(y) :" , y.shape)
print("y_train Data Shape(y_train) :" , y_train.shape)
print("y_test Data Shape(y_test) :" , y_test.shape)

Total Data Shape : (244, 7)
Independet Data Shape(x) : (244, 6)
x_train Data Shape(x_train) : (195, 6)
x_test Data Shape(x_test) : (49, 6)
Dependent Data Shape(y) : (244,)
y_train Data Shape(y_train) : (195,)
y_test Data Shape(y_test) : (49,)

In [29]:
# df(244,7) = x(244,6) + y(244,1) 

# x(244 , 6)  = x_train(195 , 6) + x_test(49,6) 
# y(244 , 1) = y_train(195 , 1) + y_test(49,1)