In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("tips.csv")

In [3]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [6]:
x=df.drop(columns=['size'],axis=1)
y=df['size']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.3 , random_state = 30)

In [9]:
print("Total Data Shape :" , df.shape)
print("Independet Data Shape(x) :" , x.shape)
print("x_train Data Shape(x_train) :" , x_train.shape)
print("x_test Data Shape(x_test) :" , x_test.shape)
print("Dependent Data Shape(y) :" , y.shape)
print("y_train Data Shape(y_train) :" , y_train.shape)
print("y_test Data Shape(y_test) :" , y_test.shape)

Total Data Shape : (244, 7)
Independet Data Shape(x) : (244, 6)
x_train Data Shape(x_train) : (170, 6)
x_test Data Shape(x_test) : (74, 6)
Dependent Data Shape(y) : (244,)
y_train Data Shape(y_train) : (170,)
y_test Data Shape(y_test) : (74,)

In [10]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [11]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [12]:
x = df.drop(columns = ['total_bill'] , axis = 1)
y = df['total_bill']
from sklearn.model_selection import train_test_split

In [13]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size  = 0.2 , random_state = 42)

In [14]:
print("Total Data Shape :" , df.shape)
print("Independet Data Shape(x) :" , x.shape)
print("x_train Data Shape(x_train) :" , x_train.shape)
print("x_test Data Shape(x_test) :" , x_test.shape)
print("Dependent Data Shape(y) :" , y.shape)
print("y_train Data Shape(y_train) :" , y_train.shape)
print("y_test Data Shape(y_test) :" , y_test.shape)

Total Data Shape : (244, 7)
Independet Data Shape(x) : (244, 6)
x_train Data Shape(x_train) : (195, 6)
x_test Data Shape(x_test) : (49, 6)
Dependent Data Shape(y) : (244,)
y_train Data Shape(y_train) : (195,)
y_test Data Shape(y_test) : (49,)