In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame({'key':['A','B','C'],'values':[1,2,3]})

In [3]:
df2=pd.DataFrame({'key':['A','B','D'],'values':[4,5,6]})
merged_df=pd.merge(df1,df2,on='key')
print(merged_df)

  key  values_x  values_y
0   A         1         4
1   B         2         5

In [5]:
import pandas as pd
df1=pd.DataFrame({'key':['A','B','C'],'values':[1,2,3]})
df2=pd.DataFrame({'key':['A','B','D'],'values':[4,5,6]})
concatenated_df=pd.concat([df1,df2],axis=0)
print(concatenated_df)

  key  values
0   A       1
1   B       2
2   C       3
0   A       4
1   B       5
2   D       6

In [6]:

import pandas as pd
# First DataFrame
df1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
					'Name': ['ABC', 'PQR', 'DEF', 'GHI']})

# Second DataFrame
df2 = pd.DataFrame({'id': ['B05', 'B06', 'B07', 'B08'],
					'Name': ['XYZ', 'TUV', 'MNO', 'JKL']})


frames = [df1, df2]

result = pd.concat(frames)
display(result)

    id Name
0  A01  ABC
1  A02  PQR
2  A03  DEF
3  A04  GHI
0  B05  XYZ
1  B06  TUV
2  B07  MNO
3  B08  JKL

In [7]:
import pandas as pd
import numpy as np

# create dataframe with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, 5],
    'D': [1, 2, 3, 4, 5]
}
df = pd.DataFrame(data)

print(df)

     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  NaN  3.0  3.0  3
3  4.0  4.0  NaN  4
4  5.0  5.0  5.0  5

In [8]:
import numpy as pd
import numpy as np
data={'A':[1,2,np.nan,4,5],
     'B':[np.nan,2,3,4,5],
     'C':[1,2,3,np.nan,5]}

df=pd.DataFrame(data)
df.dropna(inplace=True)
print(df)

AttributeError: module 'numpy' has no attribute 'DataFrame'